<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Application!</title>

    <!-- Bootstrap and jQuery imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/open-iconic-bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- Custom css and js -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/fetch_api.js"></script>
</head>
<body>
    <div class="container" id="main">
        <h1 class="center">#Contact Application</h1>

        <!-- Search field! -->
        <form id="searchForm">
            <div class="input-group mb-3">
                <input id="searchField" type="text" class="form-control" placeholder="..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit" id="button-addon2">search</button>
                </div>
            </div>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" id="add-button">Add</button>

        <!-- Add Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">New contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm">
                            <div class="form-group">
                                <label for="name">Name: </label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <label for="contactNumber">Contact number: </label>
                                <input type="text" class="form-control" id="contactNumber" placeholder="Enter contact number" required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalTitle">Edit contact!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="form-group">
                                <label for="idField" hidden>Id: </label>
                                <input type="text" class="form-control" id="idField" required hidden>
                            </div>
                            <div class="form-group">
                                <label for="editName">Name: </label>
                                <input type="text" class="form-control" id="editName" placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="editEmail">Email address</label>
                                <input type="email" class="form-control" id="editEmail" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <label for="editContactNumber">Contact number: </label>
                                <input type="text" class="form-control" id="editContactNumber" placeholder="Enter contact number" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table with contacts! -->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">contact number</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tableContent">
            <tr th:each="contact : ${contacts}">
                <th scope="row" th:text="${contact.id}"></th>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.contactNumber}"></td>
                <!-- Row actions -->
                <td>
                    <button class="btn btn-sm" onclick="showEditContact(this);">
                        <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
                    </button>
                    <button class="close" onclick="deleteContact(this);">x</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>