<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main Page!</title>

    <!-- Bootstrap and jQuery imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/open-iconic-bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- Custom css and js -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <!-- Place holder for image and some text -->
        <div class="media">
            <img src="images/sebastian.png" class="mr-r" alt="Picture of Sebastian Porling" height="64" width="64">
            <div class="media-body">
                <h5 class="mt-0">Gradle on Heroku Task</h5>
                Hello There! This webpage is made by <a href="https://github.com/sebastian-porling">Sebastian Porling</a>
            </div>
        </div>
        <!-- Button group -->
        <div id="button-group">
            <a th:href="@{/joke}"><button class="btn btn-success">Get joke</button></a>
            <a th:href="@{/register}"><button class="btn btn-success">Register user</button></a>
        </div>
    </div>
</body>
</html>